<!DOCTYPE html>
<html lang="en" dir="ltr">
        <head>
                <meta charset="utf-8">
                <title>Vegas Restaurant Predictor</title>
        </head>
        <body style="background-color: #f9db77;">
                <center>
                <h1> There was an error in either the inputted restaurant name or address. Please make sure they are typed in correctly. </h1>
                {% extends "template.html" %}
                {% block content %}
                {% endblock %}
                </center>
        </body>
</html>
