<!DOCTYPE html>
<html lang="en" dir="ltr">
        <head>
                <meta charset="utf-8">
                <title>Vegas Restaurant Predictor</title>
        </head>
        <body style="background-color: #f9db77;">
                <center>
                <h1> Viva Las Foodie has encountered an error. Incident has been reported. </h1>
                {% extends "template.html" %}
                {% block content %}
                {% endblock %}
                </center>
        </body>
</html>
