<!DOCTYPE html>
<html lang="en" dir="ltr">
        <head>
                <meta charset="utf-8">
                <title>Vegas Restaurant Predictor</title>
		<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
		<style>
			body {
				font-family: 'Nunito';
				font-size: 22px;
			}
		</style>
        </head>
        <body style="background-color: #f9db77;">
                <p> <br> </br> </p>
                <p> <br> </br> </p>

                <center>
			<img src="static/images/vivalasfoodie.png" alt="Viva Las Foodie sign" width="1200" height="300" >

			<h2>Enter the name and address of a restaurant and when you're planning to travel:</h2>

                        <form method="POST" >
                                <input required name="restaurant_name" placeholder="Egg Works" style="width: 250px; height: 45px; font-size: 20px;" >
                                <input required name="restaurant_address" placeholder="9355 W Flamingo Rd" style="width: 250px; height: 45px; font-size: 20px;" >
                                <select required name="forecast_length" style="width: 250px; height: 45px; font-size: 20px;" >
                                        <option value="1 month">1 month</option>
                                        <option value="3 months">3 months</option>
                                        <option value="6 months">6 months</option>
                                        <option value="9 months">9 months</option>
                                </select>
                                <input type="submit" style="width: 250px; height: 45px; font-size: 20px;" >
                        </form>
                </center>
        </body>
</html>
