<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    		<meta charset="utf-8">
    		<title>Vegas Restaurant Predictor</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  	</head>
	<body>

		<!--img src="static/images/open_closed_hist.png" alt="Hamburger Catering" width="1600" height="800"-->

		<div class="container">
    			<h1> Please enter the name and address of a restaurant you're curious about: </h1>
    			<form method="POST">
    				<input required name="restaurant_name">
				<input required name="restaurant_address">
				<input type="submit" >
    			</form>
		</div>

		<div class="container">
			<h1> Pick one of the following restaurants below: </h1>
    			<form method="POST">
				{% for restaurant_name in restaurant_names %}
					<input type="submit" name="submit_button" value="{{ restaurant_name }}" >
				{% endfor %}
    			</form>
		</div>
  	</body>
</html>
