<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    		<meta charset="utf-8">
    		<title>Vegas Restaurant Predictor</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  	</head>
	<body>
		<center>
			<img src="static/images/eb8f6a2e-2b5a-4b5d-8ccc-dc6228dbce19_200x200.png" alt="Hamburger Catering" width="400" height="400" >
		</center>

    			<h2> Please enter the name and address of a restaurant you're curious about: </h2>
    		<center>
			<form method="POST">
    				<input required name="restaurant_name">
				<input required name="restaurant_address">
				<input type="submit" >
    			</form>
		</center>

			<h2> Pick one of the following restaurants below: </h2>
			<h2> 
			<form method="POST">
				{% for restaurant_name in restaurant_names %}
					<input type="submit" name="submit_button" value="{{ restaurant_name }}" >
				{% endfor %}
    			</form>
			</h2>
  	</body>
</html>
