<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vegas Restaurant Predictor</title>
  </head>
  <body>
    <!--h1> Please enter a business you're curious about: </h1>
    <form method="POST">
    	<input name="text">
    	<input type="submit">
    </form>

    <style>
  	.bottom-three {
     		margin-bottom: 15cm;
  	}
    </style-->

    <h1> Pick one of the following restaurants below: </h1>
    <!--p> Description of predictor </p-->
  
    <form method="POST">
    	<input type="submit" name="submit_button" value="Egg Works">
    	<input type="submit" name="submit_button" value="Savor The Buffet">
    </form>
  </body>
</html>
