<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    		<meta charset="utf-8">
    		<title>Vegas Restaurant Predictor</title>
    		<script>
    			var data = '{{ data[0] }}';
    		</script>
  	</head>
  	<body>
		<h1> {{ data }} will NOT stay open for 5 more years </h1>
    		<p> Perhaps try a shorter time frame.</p>

    		<h3> Reason 1: </h3>
    		<p> The Yelp score is low </p>

    		<h3> Reason 2: </h3>
    		<p> There are too many similar stores in the area </p>

	    	<h3> Reason 3: </h3>
    		<p> Businesses this old typically fail </p>
	</body>
</html>
